:root{
    --brown: #a65e44;
    --lightbrown: #e4c1b4;
    --darkbrown: #502d21;
    --darkgreen: #014011;
    --green: #02731e;
    --lightblue: #77bdd9;
    --blue: #024059;
}

body{
    display: grid;
    grid-template-areas:
    'header-photo header-photo header-photo header-photo header-content header-content'
    'nav nav nav nav nav nav'
    'three three three three three three'
    'bottom bottom bottom bottom bottom bottom'
    'footer footer footer footer footer footer';
    margin: 0;
    color: var(--darkbrown);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--lightbrown);
}

nav{
    grid-area: nav;
    height: 75px;
    background-color: var(--brown)
}

.header{
    display:flex;
    flex-wrap: nowrap;
}

.header-photo{
    display:flex;
    grid-area: header-photo;
    height: 450px;
    width: 75%;
    background-image: url(images/treeees.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content{
    display:flex;
    flex-direction: column;
    grid-area: header-content;
    background-color: var(--lightbrown);
    height: 450px;
    width: 100%;

}

.threesections{
    grid-area: three;
    display: grid;
    grid-template-areas: 
    'content1 content2 content3';
}

.content1{
    grid-area: content1;
    background-color: var(--darkbrown);
    height: 400px;
    margin: 30px 60px 30px 60px;
    border-radius: 5px;
}

.content2{
    grid-area: content2;
    background-color: var(--darkbrown);
    height: 400px;
    margin: 30px 60px 30px 0px;
    border-radius: 5px;
}

.content3{
    grid-area: content3;
    background-color: var(--darkbrown);
    height: 400px;
    margin: 30px 60px 30px 0px;
    border-radius: 5px;
}

.bottom-content{
    grid-area: bottom;
    height: 450px;
    width: 100%;
}

footer{
    grid-area: footer;
    background-color: var(--brown);
    height: 200px;
}