

body{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'nav nav nav nav nav nav'
    'three three three three three three'
    'bottom bottom bottom bottom bottom bottom'
    'footer footer footer footer footer footer';
    margin: 0;
}

nav{
    grid-area: nav;
    height: 75px;
    background-color: blue;
}

.header{
    grid-area: header;
    display: flex;
    justify-content: 
}

.header-photo{
    grid-area: header-photo;
    height: 450px;
    background-image: url(images/treeees.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content{
    grid-area: header-content;
    display: flex;
    background-color: red;
    height: 450px;

}

.header-content p{
    display: flex;
    justify-content: center;
    width: 33%;
    font-size:medium;
 }

 .header-content h1{
    display: flex;
    justify-content: center;
    width: 33%;
    font-size:me
 }

.threesections{
    grid-area: three;
    display: grid;
    grid-template-areas: 
    'content1 content2 content3';
}

.content1{
    grid-area: content1;
    background-color: purple;
    height: 400px;
    margin: 30px 60px 30px 60px;
}

.content2{
    grid-area: content2;
    background-color: pink;
    height: 400px;
    margin: 30px 60px 30px 0px;
}

.content3{
    grid-area: content3;
    background-color: orange;
    height: 400px;
    margin: 30px 60px 30px 0px;
}

.bottom-content{
    grid-area: bottom;
    height: 450px;
    width: 100%;
}

footer{
    grid-area: footer;
    background-color: magenta;
    height: 200px;
}